.DS_Store
.dart_tool/
.packages
.pub/
build/
*.lock
*.log
.idea/
.vscode/
*.iml
*.ipr
*.iws
/android/.gradle
/android/captures
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/key.properties
*.jks
*.keystore
