      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: gradle
      
      - name: Grant execute permission for gradlew
        run: chmod +x "记帐鸭/WasteBook-master/gradlew"

      - name: Clean conflicting Android SDKs
        run: |
          # 旧版本 AGP 无法解析 API 3x 的元数据
          # 这里使用通配符删除所有可能造成干扰的高版本文件夹
          sudo rm -rf $ANDROID_SDK_ROOT/platforms/android-3*
          sudo rm -rf $ANDROID_SDK_ROOT/build-tools/3*
      
      - name: Build Debug APK
        run: |
          cd "记帐鸭/WasteBook-master"
          ./gradlew assembleDebug --stacktrace
